@using EverythingSucks.ViewModels
@model IEnumerable<ProductViewModel>

<div class="shop__product__option">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="shop__product__option__left">
                <p>Hiện có <strong>@Model.Count()</strong> sản phẩm</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <select>
                    <option value="">Thấp tới cao</option>
                    <option value="">$0 - $55</option>
                    <option value="">$55 - $100</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item" itemscope itemtype="https://schema.org/Product">
                <div class="product__item__pic set-bg" data-setbg="@item.ProductColors.FirstOrDefault()?.ProductImages.FirstOrDefault(pi => pi.IsPrimary)?.ImageUrl" itemprop="image">
                    <ul class="product__hover">
                        <li><a href="#"><img src="~/img/icon/heart.png" alt="heart-icon"></a></li>
                        <li>
                            <a asp-controller="Product" asp-action="Detail" asp-route-slug="@item.Slug">
                                <img src="~/img/icon/search.png" alt="search-icon">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="product__item__text">
                    <h6 itemprop="name">@item.ProductName</h6>
                    <a asp-controller="Product" asp-action="Detail" asp-route-slug="@item.Slug" class="add-cart">Xem chi tiết</a>
                    <div class="rating" itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <!-- Giả sử điểm đánh giá trung bình là 4.0 và có 20 đánh giá -->
                        <meta itemprop="ratingValue" content="4.0">
                        <meta itemprop="reviewCount" content="20">
                    </div>
                    <h5 itemprop="offers" itemscope itemtype="https://schema.org/Offer">
                        <span itemprop="price">@item.ProductPrice.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</span>
                        <meta itemprop="priceCurrency" content="VND">
                    </h5>
                    <div class="product__color__select">
                        @{
                            bool isActiveSet = false;
                        }
                        @for (int i = 0; i < item.ProductColors.Count; i++)
                        {
                            var color = item.ProductColors[i];
                            bool isPrimaryColor = color.ProductImages.Any(pi => pi.IsPrimary);
                            string activeClass = isPrimaryColor && !isActiveSet ? "active" : "";
                            if (isPrimaryColor && !isActiveSet)
                            {
                                isActiveSet = true;
                            }
                            <label for="pc-@item.ProductId-@i" class="@activeClass" style="background:@color.ColorCode;" itemprop="color">
                                <input type="radio" id="pc-@item.ProductId-@i" name="color-@item.ProductId">
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>

    }
</div>